<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCitations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer">
        <div class="menu">
            <div class="grid-container">
                <div><a href="/citations#index">All</a></div>
                <div><a href="/citations#new">Best</a></div>
                <div><a href="/citations/new">Add</a></div>
                <div><a href="#del">Login</a></div>
            </div>
        </div>
        <%= yield %>
    </div>
  </body>
</html>
